body {
  background-image: url(../img/website/cinematic-background.jpg) ;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.title {
  text-align: center;
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  margin: 40px 200px;
  padding: 30px;
}

.bioFrame {
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  height: 400px;
  padding: 30px;
}

.bioImage {
  height: 400px;
  width: 400px;
  padding: 30px;
}

.bioTitle {
  font-size: 40px;
  font-weight: bold;
}


canvas#defaultCanvas0{
    color: red;

}

#gameBoard {
  background: black;
  border: 40px solid black;
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

button#reset {
  margin-top: 20px;
}
