body {
  background-image: url(../img/website/cinematic-background.jpg) ;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.title {
  text-align: center;
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  margin: 40px 200px;
  padding: 30px;
}

.bioFrame {
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  height: 400px;
  padding: 30px;
}

.bioImage {
  height: 400px;
  width: 400px;
  padding: 30px;
}

.bioTitle {
  font-size: 40px;
  font-weight: bold;
}


canvas#defaultCanvas0{
    color: red;

}

#gameBoard {
  background: black;
  border: 40px solid black;
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

button#reset {
  margin-top: 20px;
}

h2, h3, h4  {
  color: white;
}

h2  {
  margin-bottom: 30px;
}

h4  {
  text-align: center;
  font-size: 30px;
}

.player-container {
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  height: 400px;
  padding: 30px;
}

h4:hover,.player-container:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
  font-style: italic;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row  {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-md-4, .col-md-8  {

  max-height: 100%;
}
