body {
  color: white;
  font-family: arial-black;
  background-image: url(../img/website/cinematic-background.jpg) ;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.title {
  font-family: 'Avengeance', serif;
  font-size: 64px;
  text-align: center;
  color: white;
  background: #111;
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 30px;
  box-shadow: 5px 5px 5px black;

}

.bioFrame {
  font-family: arial;
  color: white;
  background: #111;
  border: 3px solid white;
  border-radius: 10px;
  height: 400px;
}

.bioTitle {
  padding: 0 30px;
}

.bioText {
  padding: 0px 30px;
}

.bioImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bioTitle {
  font-size: 40px;
  font-weight: bold;
}

h2  {
  margin-bottom: 30px;
}

#p1title {
  color: white;
  font-family: 'Avengeance', serif;
  padding: 20px 0 0 20px;
  text-shadow: 3px 3px 3px black;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  background-image: linear-gradient(darkred, black);
}

#p2title {
  color: white;
  font-family: 'Avengeance', serif;
  padding: 20px 20px 0 0;
  text-align: right;
  text-shadow: 3px 3px 3px black;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  background-image: linear-gradient(darkblue, black);
}

h4  {
  text-align: center;
  font-size: 21px;
}

#selection {
  display: none;
}

#left {
  background-color: darkred;
}

#right {
  background-color: darkblue;
}

.player-container {
  position: relative;
  color: white;
  text-shadow: 3px 3px 3px black;
  border: 2px solid white;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

.player-container img {
  position: absolute;
  bottom: 0px;
}

.left {
  background-image: linear-gradient(darkred, black);
}

.right {
  background-image: linear-gradient(darkblue, black);
}

.left.selected {
  border: 5px solid #6EC44C;
  background-image: linear-gradient(lightgray, gray);
  font-style: italic;
  color: black;
  text-shadow: none;
}

.right.selected {
  border: 5px solid #6EC44C;
  background-image: linear-gradient(lightgray, gray);
  font-style: italic;
  color: black;
  text-shadow: none;

}

.player-container:hover {
  background-image: linear-gradient(lightgray, gray);
  color: black;
  cursor: pointer;
  font-style: italic;
  text-shadow: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row  {
  margin-top: 20px;
  margin-bottom: 20px;
}

#gamePlay {
  display: none;
}

#gameBoard {
  margin: 20px 0;
  background: black;
  border: 40px solid black;
  border-radius: 10px;
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  width: 400px;
  background-image: linear-gradient(darkred, #222);
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

.btn:hover {
  background-image: none;
}

#keyMap {
  background-color: rgba(255,255,255,.6);
  border: 3px solid black;
  border-radius: 10px;
  height: 310px;
  margin-bottom: 20px;
}

#keyMapRight {
  text-align: right;
}

footer  {
  margin-top: 500px;
}
